html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
main {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 50px auto minmax(88px, max-content);
  height: 100vh;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}
.buttons {
  display: flex;
  align-content: center;
  height: 50px;
}
.buttons__button {
  height: 45px;
  box-sizing: border-box;

  font-size: 24px;
  padding-bottom: 5px;
  color: #222;
  text-shadow: 0px 1px 2px #666;
  box-shadow: 0 1px 2px rgba(0,0,0,0.4);

  border-radius: 3px;
  border-image-source: url("../img/button.png");
  border-image-width : 6px;
  border-image-slice: 30 30 30 30 fill;
}

.new-set {
  margin: 0 auto;
  width: 20%;
  min-width: 120px;
}

.chars {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  padding: 5px;
  margin: 0;
  overflow-y: auto;
}
.start-window {
  overflow-x: hidden;
}

.start-window__saves {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  margin-right: -40px;
}

.save-card {
  margin: 0 40px 40px 0;
  display: flex;
  box-sizing: border-box;
  pointer-events: visible;
}

.save-card p {
  margin: 0;
  padding: 10px;
}

.save-card__name {
  position: relative;
  align-self: flex-start;
  background-color: yellowgreen;
  width: 100px;
  font-size: 24px;
  font-weight: bold;
  max-height: 100px;
  border-radius: 10px 0  0 10px;

  cursor: grab;
}


.save-card__name::before,
.save-card__name::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  height: 10px;
}

.save-card__name::before {
  background-color: yellowgreen;
}

.save-card__name::after {
  background-color: #fff;
  border-radius: 0 10px 0  0;
}

.save-card__symbols {
  position: relative;
  width: 300px;
  font-size: 36px;
  min-height: 120px;
  max-height: 210px;

  overflow-y: auto;
  box-sizing: border-box;

  border: 2px solid yellowgreen;
  border-radius: 0 10px 10px 10px;

  cursor: pointer;
}


.save-card__symbols::before,
.save-card__symbols::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
}

.save-card__symbols::before {
  background-color: yellowgreen;
}

.save-card__symbols::after {
  background-color: #fff;
  border-radius: 10px 0 0 0;
}


/* width */
.save-card__symbols::-webkit-scrollbar {
  position: relative;
  width: 16px;
}


/* Track */
.save-card__symbols::-webkit-scrollbar-track {
  border-radius: 0 10px 10px 0;
  position: absolute;
  background: #f7f7f7;
}

/* Handle */
.save-card__symbols::-webkit-scrollbar-thumb {
  background: yellowgreen;
  border-radius: 0 8px 8px 0;
}

.symbol-icon {
  display: inline-block;
  padding: 5px;
  margin: 0 5px 5px 0;
  background : linear-gradient(to top right, #d2d2d2, #fdfdfd);
  border-radius: 5px;
  border: 1px solid darkgray;
}

.char {
  min-width: 36px;
  margin: 5px 10px;
  padding: 5px 15px 15px;

  border-radius: 3px;
  border-image-source: url("../img/button.png");
  border-image-width : 10px;
  border-image-slice: 30 30 30 30 fill;

  box-shadow:
  0 0 5px rgba(0,0,0,0.4);

  color: #222;
  text-shadow: 0px 1px 2px #666;

  cursor: pointer;
}
.buttons__button:focus,
.char:active,
.char:focus {
  outline: none;
}
.buttons__button:active,
.char:active {
  transform: translateY(1.5px);
  box-shadow:
  0 0 2px rgba(0,0,0,0.4);
}

.output {
  position: relative;
}

.log-wraper {
  position: relative;
  width: 100%;
  z-index: 1;
  box-sizing: border-box;
  background-color: #fff;
  border: 2px solid yellowgreen;
}

.log {
  box-sizing: border-box;

  min-height: 80px;
  padding: 10px;

  word-wrap: break-word;
  font-size: 3em;
}

.log__current-code {
  position: absolute;
  top: 1px;
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 0;

  font-size: 0;
  border-left: 2px solid yellowgreen;
  transition: 0.2s;
  background-color: inherit;
}

.log__current-code p {
  margin: 0;
}

.visible {
  font-size: 24px;
  width: 100px;
}

.log-menu {
  position: absolute;
  z-index: 0;
  transition: 0.2s linear;
}

.log-menu__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  font-size: 24px;
}

.log-menu__item {
  min-height: 30px;
  margin-right: 20px;
}

.log-menu__input,
.log-menu__button {
  font-size: inherit;
}

.output:hover .log-menu {
  transform: translateY(-100%);
}
