html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
main {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 50px auto minmax(88px, max-content);
  height: 100vh;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}
.buttons {
  display: flex;
}
.buttons__new-set {
  margin: 0 auto;
  width: 20%;
  min-width: 120px;
  height: 45px;

  font-size: 24px;
  padding-bottom: 5px;
  color: #222;
  text-shadow: 0px 1px 2px #666;

  border-radius: 3px;
  border-image-source: url("../img/button.png");
  border-image-width : 8px;
  border-image-slice: 30 30 30 30 fill;

}

.chars {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  padding: 5px;
  margin: 0;
  overflow-y: scroll;
}

.start-window__saves {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
}

.save-card {
  display: flex;
  border: 2px solid yellowgreen;
}

.save-card p {
  margin: 0;
  padding: 15px;
}

.save-card__name {
  background-color: yellowgreen;
  width: 100px;
  font-size: 24px;
}

.save-card__symbols {
  width: 200px;
  font-size: 36px;
  max-height: 150px;
  overflow-y: scroll;
}

.symbol-icon {
  display: inline-block;
  padding: 5px;
  margin: 0 5px 5px 0;
  background-color: lightgray;
  border-radius: 5px;
  border: 1px solid darkgray;
}

.char {
  min-width: 36px;
  margin: 5px 10px;
  padding: 5px 15px 15px;

  border-radius: 3px;
  border-image-source: url("../img/button.png");
  border-image-width : 10px;
  border-image-slice: 30 30 30 30 fill;

  box-shadow:
  0 0 5px rgba(0,0,0,0.4);

  color: #222;
  text-shadow: 0px 1px 2px #666;

  cursor: pointer;
}
.buttons__new-set:focus,
.char:active,
.char:focus {
  outline: none;
}
.buttons__new-set:active,
.char:active {
  transform: translateY(1.5px);
  box-shadow:
  0 0 2px rgba(0,0,0,0.4);
}

.output {
  position: relative;
}

.log-wraper {
  position: relative;
  width: 100%;
  z-index: 1;
  box-sizing: border-box;
  background-color: #fff;
  border: 2px solid yellowgreen;
}

.log {
  box-sizing: border-box;

  min-height: 80px;
  padding: 10px;

  word-wrap: break-word;
  font-size: 3em;
}

.log__current-code {
  position: absolute;
  top: 1px;
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 0;

  font-size: 0;
  border-left: 2px solid yellowgreen;
  transition: 0.2s;
  background-color: inherit;
}

.log__current-code p {
  margin: 0;
}

.visible {
  font-size: 24px;
  width: 100px;
}

.log-menu {
  position: absolute;
  z-index: 0;
  transition: 0.2s linear;
}

.log-menu__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  font-size: 24px;
}

.log-menu__item {
  min-height: 30px;
  margin-right: 20px;
}

.log-menu__input,
.log-menu__button {
  font-size: inherit;
}

.output:hover .log-menu {
  transform: translateY(-100%);
}
