html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-gap: 1vw;
  grid-template-rows: 50px auto auto;
  height: 100vh;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}

#favicon {
  display: none;
}

.new-set {
  margin: 0 auto;
  width: 20%;
  min-width: 120px;
  height: 45px;

  font-size: 24px;
  padding-bottom: 5px;
  color: #222;
  text-shadow: 0px 1px 2px #666;

  border-radius: 3px;
  border-image-source: url("../img/button.png");
  border-image-width : 8px;
  border-image-slice: 30 30 30 30 fill;

}

.chars {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style: none;
  padding: 5px;
  margin: 0;
  overflow-y: scroll;
}

.char {
  min-width: 36px;
  margin: 5px 10px;
  padding: 5px 15px 15px;

  border-radius: 3px;
  border-image-source: url("../img/button.png");
  border-image-width : 10px;
  border-image-slice: 30 30 30 30 fill;

  box-shadow:
  0 0 5px rgba(0,0,0,0.4);

  color: #222;
  text-shadow: 0px 1px 2px #666;

  cursor: pointer;
}
.new-set:focus,
.char:active,
.char:focus {
  outline: none;
}
.new-set:active,
.char:active {
  transform: translateY(1.5px);
  box-shadow:
  0 0 2px rgba(0,0,0,0.4);
}

.log {
  word-wrap: break-word;
  /* margin-top: auto; */
  font-size: 3em;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 2px solid yellowgreen;
}
